<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linkage.contacts.server.mybatis.persistence.ActivityPicMapper" >
  <resultMap id="BaseResultMap" type="com.linkage.contacts.server.entity.ActivityPic" >
    <id column="pic_id" property="pic_id" jdbcType="INTEGER" />
    <result column="activity_id" property="activity_id" jdbcType="INTEGER" />
    <result column="pic_url" property="pic_url" jdbcType="VARCHAR" />
    <result column="pic_desc" property="pic_desc" jdbcType="VARCHAR" />
    <result column="order_no" property="order_no" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Condition_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Condition_Where_Clause" >
    <where >
      <foreach collection="criteriaManager.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    pic_id, activity_id, pic_url, pic_desc, order_no
  </sql>
  <select id="selectByWhereCondition" resultMap="BaseResultMap" parameterType="com.linkage.mybatis.util.CriteriaManager" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from activity_pic
    <if test="_parameter != null" >
      <include refid="Condition_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="int" >
    select 
    <include refid="Base_Column_List" />
    from activity_pic
    where pic_id = #{pic_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="int" >
    delete from activity_pic
    where pic_id = #{pic_id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByWhereCondition" parameterType="com.linkage.mybatis.util.CriteriaManager" >
    delete from activity_pic
    <if test="_parameter != null" >
      <include refid="Condition_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.linkage.contacts.server.entity.ActivityPic" >
    insert into activity_pic (pic_id, activity_id, pic_url, 
      pic_desc, order_no)
    values (#{pic_id,jdbcType=INTEGER}, #{activity_id,jdbcType=INTEGER}, #{pic_url,jdbcType=VARCHAR}, 
      #{pic_desc,jdbcType=VARCHAR}, #{order_no,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.linkage.contacts.server.entity.ActivityPic" >
    insert into activity_pic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      pic_id,
      activity_id,
      <if test="pic_url != null" >
        pic_url,
      </if>
      <if test="pic_desc != null" >
        pic_desc,
      </if>
      order_no,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{pic_id,jdbcType=INTEGER},
      #{activity_id,jdbcType=INTEGER},
      <if test="pic_url != null" >
        #{pic_url,jdbcType=VARCHAR},
      </if>
      <if test="pic_desc != null" >
        #{pic_desc,jdbcType=VARCHAR},
      </if>
      #{order_no,jdbcType=INTEGER},
    </trim>
  </insert>
  <select id="countByWhereCondition" parameterType="com.linkage.mybatis.util.CriteriaManager" resultType="java.lang.Integer" >
    select count(*) from activity_pic
    <if test="_parameter != null" >
      <include refid="Condition_Where_Clause" />
    </if>
  </select>
  <update id="updateByWhereConditionSelective" parameterType="map" >
    update activity_pic
    <set >
      <if test="activityPic.pic_id != null" >
        pic_id = #{activityPic.pic_id,jdbcType=INTEGER},
      </if>
      <if test="activityPic.activity_id != null" >
        activity_id = #{activityPic.activity_id,jdbcType=INTEGER},
      </if>
      <if test="activityPic.pic_url != null" >
        pic_url = #{activityPic.pic_url,jdbcType=VARCHAR},
      </if>
      <if test="activityPic.pic_desc != null" >
        pic_desc = #{activityPic.pic_desc,jdbcType=VARCHAR},
      </if>
      <if test="activityPic.order_no != null" >
        order_no = #{activityPic.order_no,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Condition_Where_Clause" />
    </if>
  </update>
  <update id="updateByWhereCondition" parameterType="map" >
    update activity_pic
    set pic_id = #{activityPic.pic_id,jdbcType=INTEGER},
      activity_id = #{activityPic.activity_id,jdbcType=INTEGER},
      pic_url = #{activityPic.pic_url,jdbcType=VARCHAR},
      pic_desc = #{activityPic.pic_desc,jdbcType=VARCHAR},
      order_no = #{activityPic.order_no,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Condition_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.linkage.contacts.server.entity.ActivityPic" >
    update activity_pic
    <set >
      <if test="activity_id != null and activity_id != 0" >
        activity_id = #{activity_id,jdbcType=INTEGER},
      </if>
      <if test="pic_url != null" >
        pic_url = #{pic_url,jdbcType=VARCHAR},
      </if>
      <if test="pic_desc != null" >
        pic_desc = #{pic_desc,jdbcType=VARCHAR},
      </if>
      <if test="order_no != null and order_no != 0" >
        order_no = #{order_no,jdbcType=INTEGER},
      </if>
    </set>
    where pic_id = #{pic_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.linkage.contacts.server.entity.ActivityPic" >
    update activity_pic
    set activity_id = #{activity_id,jdbcType=INTEGER},
      pic_url = #{pic_url,jdbcType=VARCHAR},
      pic_desc = #{pic_desc,jdbcType=VARCHAR},
      order_no = #{order_no,jdbcType=INTEGER}
    where pic_id = #{pic_id,jdbcType=INTEGER}
  </update>
</mapper>