<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linkage.contacts.server.mybatis.persistence.ClassRoleInfoMapper" >
  <resultMap id="BaseResultMap" type="com.linkage.contacts.server.entity.ClassRoleInfo" >
    <id column="class_id" property="class_id" jdbcType="INTEGER" />
    <id column="user_id" property="user_id" jdbcType="INTEGER" />
    <result column="class_admin" property="class_admin" jdbcType="TINYINT" />
    <result column="class_role_state" property="class_role_state" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Condition_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Condition_Where_Clause" >
    <where >
      <foreach collection="criteriaManager.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    class_id, user_id, class_admin, class_role_state
  </sql>
  <select id="selectByWhereCondition" resultMap="BaseResultMap" parameterType="com.linkage.mybatis.util.CriteriaManager" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from class_role_info
    <if test="_parameter != null" >
      <include refid="Condition_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.linkage.contacts.server.entity.ClassRoleInfoKey" >
    select 
    <include refid="Base_Column_List" />
    from class_role_info
    where class_id = #{class_id,jdbcType=INTEGER}
      and user_id = #{user_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.linkage.contacts.server.entity.ClassRoleInfoKey" >
    delete from class_role_info
    where class_id = #{class_id,jdbcType=INTEGER}
      and user_id = #{user_id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByWhereCondition" parameterType="com.linkage.mybatis.util.CriteriaManager" >
    delete from class_role_info
    <if test="_parameter != null" >
      <include refid="Condition_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.linkage.contacts.server.entity.ClassRoleInfo" >
    insert into class_role_info (class_id, user_id, class_admin, 
      class_role_state)
    values (#{class_id,jdbcType=INTEGER}, #{user_id,jdbcType=INTEGER}, #{class_admin,jdbcType=TINYINT}, 
      #{class_role_state,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.linkage.contacts.server.entity.ClassRoleInfo" >
    insert into class_role_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      class_id,
      user_id,
      class_admin,
      class_role_state,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{class_id,jdbcType=INTEGER},
      #{user_id,jdbcType=INTEGER},
      #{class_admin,jdbcType=TINYINT},
      #{class_role_state,jdbcType=TINYINT},
    </trim>
  </insert>
  <select id="countByWhereCondition" parameterType="com.linkage.mybatis.util.CriteriaManager" resultType="java.lang.Integer" >
    select count(*) from class_role_info
    <if test="_parameter != null" >
      <include refid="Condition_Where_Clause" />
    </if>
  </select>
  <update id="updateByWhereConditionSelective" parameterType="map" >
    update class_role_info
    <set >
      <if test="classRoleInfo.class_id != null" >
        class_id = #{classRoleInfo.class_id,jdbcType=INTEGER},
      </if>
      <if test="classRoleInfo.user_id != null" >
        user_id = #{classRoleInfo.user_id,jdbcType=INTEGER},
      </if>
      <if test="classRoleInfo.class_admin != null" >
        class_admin = #{classRoleInfo.class_admin,jdbcType=TINYINT},
      </if>
      <if test="classRoleInfo.class_role_state != null" >
        class_role_state = #{classRoleInfo.class_role_state,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Condition_Where_Clause" />
    </if>
  </update>
  <update id="updateByWhereCondition" parameterType="map" >
    update class_role_info
    set class_id = #{classRoleInfo.class_id,jdbcType=INTEGER},
      user_id = #{classRoleInfo.user_id,jdbcType=INTEGER},
      class_admin = #{classRoleInfo.class_admin,jdbcType=TINYINT},
      class_role_state = #{classRoleInfo.class_role_state,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Condition_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.linkage.contacts.server.entity.ClassRoleInfo" >
    update class_role_info
    <set >
      <if test="class_admin != null" >
        class_admin = #{class_admin,jdbcType=TINYINT},
      </if>
      <if test="class_role_state != null" >
        class_role_state = #{class_role_state,jdbcType=TINYINT},
      </if>
    </set>
    where class_id = #{class_id,jdbcType=INTEGER}
      and user_id = #{user_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.linkage.contacts.server.entity.ClassRoleInfo" >
    update class_role_info
    set class_admin = #{class_admin,jdbcType=TINYINT},
      class_role_state = #{class_role_state,jdbcType=TINYINT}
    where class_id = #{class_id,jdbcType=INTEGER}
      and user_id = #{user_id,jdbcType=INTEGER}
  </update>
</mapper>