<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linkage.contacts.server.mybatis.persistence.UserMessageMarkMapper" >
  <resultMap id="BaseResultMap" type="com.linkage.contacts.server.entity.UserMessageMark" >
    <id column="user_id" property="user_id" jdbcType="INTEGER" />
    <result column="has_message" property="has_message" jdbcType="SMALLINT" />
    <result column="has_sys_message" property="has_sys_message" jdbcType="SMALLINT" />
  </resultMap>
  <sql id="Condition_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Condition_Where_Clause" >
    <where >
      <foreach collection="criteriaManager.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    user_id, has_message, has_sys_message
  </sql>
  <select id="selectByWhereCondition" resultMap="BaseResultMap" parameterType="com.linkage.mybatis.util.CriteriaManager" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_message_mark
    <if test="_parameter != null" >
      <include refid="Condition_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="int" >
    select 
    <include refid="Base_Column_List" />
    from user_message_mark
    where user_id = #{user_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="int" >
    delete from user_message_mark
    where user_id = #{user_id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByWhereCondition" parameterType="com.linkage.mybatis.util.CriteriaManager" >
    delete from user_message_mark
    <if test="_parameter != null" >
      <include refid="Condition_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.linkage.contacts.server.entity.UserMessageMark" >
    insert into user_message_mark (user_id, has_message, has_sys_message
      )
    values (#{user_id,jdbcType=INTEGER}, #{has_message,jdbcType=SMALLINT}, #{has_sys_message,jdbcType=SMALLINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.linkage.contacts.server.entity.UserMessageMark" >
    insert into user_message_mark
    <trim prefix="(" suffix=")" suffixOverrides="," >
      user_id,
      has_message,
      has_sys_message,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{user_id,jdbcType=INTEGER},
      #{has_message,jdbcType=SMALLINT},
      #{has_sys_message,jdbcType=SMALLINT},
    </trim>
  </insert>
  <select id="countByWhereCondition" parameterType="com.linkage.mybatis.util.CriteriaManager" resultType="java.lang.Integer" >
    select count(*) from user_message_mark
    <if test="_parameter != null" >
      <include refid="Condition_Where_Clause" />
    </if>
  </select>
  <update id="updateByWhereConditionSelective" parameterType="map" >
    update user_message_mark
    <set >
      <if test="userMessageMark.user_id != null and userMessageMark.user_id != 0" >
        user_id = #{userMessageMark.user_id,jdbcType=INTEGER},
      </if>
      <if test="userMessageMark.has_message != null" >
        has_message = #{userMessageMark.has_message,jdbcType=SMALLINT},
      </if>
      <if test="userMessageMark.has_sys_message != null" >
        has_sys_message = #{userMessageMark.has_sys_message,jdbcType=SMALLINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Condition_Where_Clause" />
    </if>
  </update>
  <update id="updateByWhereCondition" parameterType="map" >
    update user_message_mark
    set user_id = #{userMessageMark.user_id,jdbcType=INTEGER},
      has_message = #{userMessageMark.has_message,jdbcType=SMALLINT},
      has_sys_message = #{userMessageMark.has_sys_message,jdbcType=SMALLINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Condition_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.linkage.contacts.server.entity.UserMessageMark" >
    update user_message_mark
    <set >
      <if test="has_message != null" >
        has_message = #{has_message,jdbcType=SMALLINT},
      </if>
      <if test="has_sys_message != null" >
        has_sys_message = #{has_sys_message,jdbcType=SMALLINT},
      </if>
    </set>
    where user_id = #{user_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.linkage.contacts.server.entity.UserMessageMark" >
    update user_message_mark
    set has_message = #{has_message,jdbcType=SMALLINT},
      has_sys_message = #{has_sys_message,jdbcType=SMALLINT}
    where user_id = #{user_id,jdbcType=INTEGER}
  </update>
</mapper>