<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:aop="http://www.springframework.org/schema/aop"
     xmlns:tx="http://www.springframework.org/schema/tx"
     xmlns:jdbc="http://www.springframework.org/schema/jdbc"
     xmlns:context="http://www.springframework.org/schema/context"
     xsi:schemaLocation="
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
     http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">
     
    <context:property-placeholder location="classpath:jdbc.properties,classpath:localconfig.properties" />
    
	<!-- 使得@Autowire能够使用,spring自带的注解 -->
	<!-- <context:annotation-config /> -->
	
	<!-- 扫描类包，将标注Spring注解的dao,bo类以及其它控件类自动转化Bean，同时完成Bean的注入 -->
	<context:component-scan base-package="
	com.linkage.contacts.server.dao
	,com.linkage.contacts.server.bo
	" />
	
	<!-- dbcp连接池 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="initialSize" value="30" />
		<property name="maxActive" value="60" />
		<property name="maxIdle" value="10" />
		<property name="maxWait" value="86400" />
		<property name="defaultAutoCommit" value="false" />  
       	<property name="removeAbandoned" value="true" />  
       	<property name="removeAbandonedTimeout" value="120" />  
       	<property name="logAbandoned" value="true" />
		<property name="poolPreparedStatements" value="true" />
	</bean> 
	
	<!-- 配置数据源 c3p0 -->
	<!-- <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="driverClass">
			<value>${jdbc.driverClassName}</value>
		</property>
		<property name="jdbcUrl">
			<value>${jdbc.url}</value>
		</property>
		<property name="user">
			<value>${jdbc.username}</value>
		</property>
		<property name="password">
			<value>${jdbc.password}</value>
		</property>
		连接池中保留的最小连接数。
		<property name="minPoolSize">
			<value>5</value>
		</property>
		连接池中保留的最大连接数。Default: 15
		<property name="maxPoolSize">
			<value>30</value>
		</property>
		初始化时获取的连接数，取值应在minPoolSize与maxPoolSize之间。Default: 3
		<property name="initialPoolSize">
			<value>10</value>
		</property>
		最大空闲时间,60秒内未使用则连接被丢弃。若为0则永不丢弃。Default: 0
		<property name="maxIdleTime">
			<value>60</value>
		</property>
		当连接池中的连接耗尽的时候c3p0一次同时获取的连接数。Default: 3
		<property name="acquireIncrement">
			<value>5</value>
		</property>
		JDBC的标准参数，用以控制数据源内加载的PreparedStatements数量。但由于预缓存的statements 属于单个connection而不是整个连接池。所以设置这个参数需要考虑到多方面的因素。 
			如果maxStatements与maxStatementsPerConnection均为0，则缓存被关闭。Default: 0
		<property name="maxStatements">
			<value>0</value>
		</property>
		每60秒检查所有连接池中的空闲连接。Default: 0
		<property name="idleConnectionTestPeriod">
			<value>60</value>
		</property>
		<property name="autoCommitOnClose">
		 	<value>false</value>
		</property>  
		定义在从数据库获取新连接失败后重复尝试的次数。Default: 30
		<property name="acquireRetryAttempts">
			<value>30</value>
		</property>
		获取连接失败将会引起所有等待连接池来获取连接的线程抛出异常。但是数据源仍有效 保留，并在下次调用getConnection()的时候继续尝试获取连接。如果设为true，那么在尝试 
			获取连接失败后该数据源将申明已断开并永久关闭。Default: false
		<property name="breakAfterAcquireFailure">
			<value>true</value>
		</property>
		因性能消耗大请只在需要的时候使用它。如果设为true那么在每个connection提交的 时候都将校验其有效性。建议使用idleConnectionTestPeriod或automaticTestTable 
			等方法来提升连接测试的性能。Default: false
		<property name="testConnectionOnCheckout">
			<value>false</value>
		</property>
	</bean> -->
	
	<!-- Mybatis  sqlSessionFactory的配置-->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">  
		<property name="dataSource" ref="dataSource" />
		<!-- 加载Mybatis配置文件 -->
		<property name="configLocation" value="classpath:mybatis-config.xml" />
		 <property name="typeAliasesPackage" value="com.linkage.contacts.server.entity" />
	</bean>
	<!-- Mybatis  sqlSessionTemplate的配置-->
	<!-- <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate"> 
        <constructor-arg index="0" ref="sqlSessionFactory" />
    </bean> -->
	<!-- 自动扫描 com.linkage.contacts.server.mybatis.persistence 包下的所有与映射文件对应的映射接口并装载到spring容器中 -->
  	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.linkage.contacts.server.mybatis.persistence" />
    </bean>
    
    <!-- JDBC模板 -->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<!-- 事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
    
	<!-- 用注解来实现事务管理 -->
	<tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>
			
	<!-- 用于持有ApplicationContext,可以使用SpringContextHolder.getBean('xxxx')的静态方法得到spring bean对象 -->
	<bean class="com.linkage.core.SpringContextHolder" lazy-init="false" />
   
</beans>
